---
import Title from '../components/ui/title';
import Layout from '../layouts/Layout.astro';
import { works } from '../data/projets.json'
import { Separator } from '../components/ui/separator';
---

<Layout title="Tom - Projets">
	<div class='flex flex-col gap-6 mt-6'>
		{works.map((item: any) => (
		   <div>
			  <Title variant="section">{item.sectionTitle}</Title>
			  <div class='grid sm:grid-cols-2 gap-4'>
				 {item.projets.map((p: any, k: number) => (
					<a
					   href={p.link}
					   target='_blank'
					>
					   <img
						  class='rounded-md pointer-events-none w-[350px] sm:h-36 object-cover mx-auto border-2'
						  src={p.img}
						  alt={p.name}
					   />
					   <Title className='mt-2 text-center font-bold'>
						  {p.name}
					   </Title>
					   <p class='text-center mt-1'>{p.description}</p>
					</>
				 ))}
			  </div>
			  <Separator />
		   </div>
		))}
	 </div>
</Layout>
